node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma
prisma/.env

# build output 
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# editor
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db
